<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

</head>

<body>

<!-- =====================================================
     FOODFRENZY NAVIGATION BAR
===================================================== -->

<nav class="navbar" th:fragment="navbar()">

    <!-- =================================================
         LOGO
    ================================================== -->

    <a th:href="@{/}"
       class="nav-logo">

        <img th:src="@{/images/logo.png}"
             alt="FoodFrenzy Logo"
             class="logo">

        <span class="brand-name">
            FoodFrenzy
        </span>

    </a>


    <!-- =================================================
         MAIN NAVIGATION LINKS
    ================================================== -->

    <ul class="nav-links">

        <li>
            <a th:href="@{/}">
                Home
            </a>
        </li>

        <li>
            <a th:href="@{/products}">
                Menu
            </a>
        </li>
        

        <li>
            <a th:href="@{/about}">
                About
            </a>
        </li>

        <li>
            <a th:href="@{/location}">
                Location
            </a>
        </li>

    </ul>


    <!-- ================= RIGHT SIDE ================= -->

    <div class="nav-right">

        <!-- =================================================
             GUEST USER
        ================================================== -->

        <div th:if="${session.loggedInUser == null}"
             class="guest-nav">

            <a th:href="@{/login}"
               class="login-btn">

                <i class="fa-solid fa-right-to-bracket"></i>
                Login

            </a>


            <a th:href="@{/products}"
               class="order-btn">

                <i class="fa-solid fa-utensils"></i>
                Order Now

            </a>

        </div>


        <!-- =================================================
             LOGGED-IN USER
        ================================================== -->

        <div th:if="${session.loggedInUser != null}"
             class="logged-user-nav">

            <!-- BACK -->

            <a th:if="${page == 'cart'}"
               th:href="@{/products}"
               class="nav-back-btn">

                <i class="fa-solid fa-arrow-left"></i>
                Back

            </a>

            <a th:href="@{/products}"
               class="nav-back-btn">

                <i class="fa-solid fa-arrow-left"></i>
                Back

            </a>


            <!-- PROFILE -->

            <a th:href="@{/profile}"
               class="profile-btn">

                <i class="fa-solid fa-user"></i>
                Profile

            </a>


            <!-- CART -->

            <a th:href="@{/cart}"
               class="cart-btn">

                <i class="fa-solid fa-cart-shopping"></i>
                Cart

            </a>


            <!-- LOGOUT -->

            <a th:href="@{/logout}"
               class="logout-btn">

                <i class="fa-solid fa-right-from-bracket"></i>
                Logout

            </a>

        </div>

    </div>

</nav>


<!-- =====================================================
     BACK BUTTON SCRIPT
===================================================== -->

<script>

    function goBack(event) {

        event.preventDefault();

        window.history.back();

    }

</script>

</body>

</html>